/*
    contactInfo.css
*/

.contactInfoMainContent {
    color: #285172;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
    line-height: 1.5;
    text-align:center;
}

.contactInfoName{
    font-size: 45px;

}

.contactInfoInfo {
    font-size: 25px;
}