/*
    work experience.css
*/

.jobTitle {
    font-weight: bold;
     font-size: 30px;
      padding-top: 25px;
}

.jobPosition {
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
}

.jobDates {
    font-weight: bold;
     font-size: 20px;
      padding-top: 10px;

}

.jobTitleDiv {
    margin-top: 20px;
    background-color: #285172;
    height: 2px;
    width: 100px;

}

.jobDesc {
    padding-top: 25px;
    font-size: 25px;

}

.jobImg {
    padding-top: 25px;
    width: 350px;
    height: 250px;

}

.workExpMainContent {
    height: 100vh;
}
